body{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url(../src/assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container{
    background-image: url(../src/assets/images/background-container.jpg);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


