body{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url(https://www.bhmpics.com/downloads/best-hd-for-pc-Wallpapers/36.220-2209409_hd-computer-desktop-wallpaper-full-hd-1080p-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


