<div class="container-fluid my-0 mx-0 w-100">
<section class="banner" [ngStyle]="{'background-image': 'url(' + persona.banner + ')'}" >
    <div>
      <h2>{{persona.nombre}} {{persona.apellido}}</h2>
      <h3>
        {{persona.titulo}}
      </h3>
    </div>
    <img src="{{persona.img}}" alt="image-example" id="imagen-data">
  </section>
  <section>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <div class="d-flex flex-column text-center">
            <h4 class="text-decoration-underline">Informacion personal:
            </h4>
            <h5>Edad: {{persona.edad}} años</h5>
            <h5>Localidad: {{persona.ciudad}}</h5>
        </div>
        <div class="d-flex flex-column text-center">
            <h4 class="text-decoration-underline">Contacto: </h4>
            <h5>Email: {{persona.email}}</h5>
            <h5>Celular: {{persona.celular}}</h5>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center flex-wrap">
        <h4 class="text-decoration-underline ">Descripcion: </h4>
        <h5 class="text-center">{{persona.descripcion}}</h5>
    </div>
    <div class="px-2">
        <button type="button" class="btn btn-warning w-100 my-2"
            routerLink="/editacercade/1" *ngIf="isLogged">
            Editar acerca de mi
        </button>
    </div>
  </section>
</div>