    @import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Rajdhani:wght@500;600&family=Sanchez&display=swap');
 


    section {
        padding: 30px 15%;
      }
      
      @media (width <= 720px) {
        section {
          padding: 30px 10%;
        }
      }
      
      .banner {
        position: relative;
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: 40vw;
        margin-bottom: 40px;
        background: #1b1526;
        animation: morph 3.5s infinite;
        

        
      }
      
      @media (width <= 620px) {
        .banner {
          text-align: center;
          flex-direction: column-reverse;
          justify-content: center;
            gap: 20px;
        }
      }
      
      .banner::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 200%;
        rotate: -2deg;
        background: #1b1526;
        animation: morph 3.5s infinite;

        

      }
      
      .banner h2 {
        white-space: nowrap;
        margin: 0 0 4px;
        font-size: 40px;
        color: rgb(255 255 255 / 96%);
        font-family: 'IM Fell DW Pica SC', serif;
      }
      
      .banner h3 {
        font-weight: 400;
        margin: 0;
        color: rgb(255 255 255 / 57%);
        font-family: 'Sanchez', serif;
      }
      
      @keyframes morph {
        0%,
        100% {
          border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        }
        34% {
          border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        }
        67% {
          border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        }
      }
      
      .banner img {
        
        height: 220px;
        object-fit: cover;
        animation: morph 3.5s linear infinite;

      }

      h5{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
      }

      h4{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
        
        
      }

      

      .container-fluid{
        -webkit-box-shadow: inset 0px 26px 54px 81px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 26px 54px 81px rgba(0,0,0,0.75);
        box-shadow: inset 0px 26px 54px 81px rgba(0,0,0,0.75);
        
      }

      