    .card{
        display: grid;
        grid-template-rows: 6rem 3rem 3rem 1fr;
        grid-template-columns: 1fr;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .banner{
        grid-row: 1/4;
        grid-column: 1/-1;
        
    }

    .banner img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    .display-picture{
        grid-row: 1/4;
        grid-column: 1/-1;
        padding: 0.5rem;
        z-index: 1;
    }

    .display-picture img{
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    .content{
        grid-row: 4/5;
        grid-column: 1/-1;
        padding: 24px;
        font-family: 'kreon';
        font-size: 1.2rem;
        color: #fff;
        
    }

    
