<div class="container vh-100 d-flex flex-column justify-content-center align-items-between">
    <div class="row">
        <div class="d-flex justify-content-center">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group my-2">
                    <label for="nombreP">Nombre:</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>
                <div class="form-group py-4">
                    <label for="descripcionP">Descripcion: </label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
                </div>
                <div class="form-group py-4">
                    <label for="urlP">URL Repositorio: </label>
                    <input type="text" class="form-control" id="urlP" name="urlP" [(ngModel)]="urlP" required>
                </div>
                <div class="form-group py-4">
                    <label for="imgP">Url de imagen: </label>
                    <input type="text" class="form-control" id="imgP" name="imgP" [(ngModel)]="imgP" required>
                </div>
                <button class="btn btn-warning w-100 my-2">
                    Agregar proyecto
                </button>
            </form>
        </div>
    </div>
</div>