<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>Bot discord-telegram</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo ab aliquam sint, sequi quasi labore ducimus aspernatur tempore perspiciatis nulla dolore atque. Distinctio beatae quia commodi amet, aspernatur aut?</p>
        </div>
        <div  class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../assets/images/botds.PNG" class="img-fluid img-proyecto" >
        </div>
    </div>
</div>