.logo{
    display: flex;
    justify-self: flex-start;
    align-items: center;
    padding: 0.5em;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#logoAP{
    width: 10rem;
    display: flex;
    justify-content: start;
    
}

img{
    width: 3rem;
    padding-right: 5px;
}
nav{
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.redes{
    margin-right: 20px;
}
.btn{
    background-color: rgb(134, 172, 31);
    border: 2px solid #000;  
    border-width: medium;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: bold;
    height: 100%;
}
.btn:active{
    background-color: black;
    color: white;
    border: 2px solid white
}
.btn:hover{
    background-color: black;
    color: white;
    border: 2px solid white
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
/* celular*/
/* @media(max-width: 575px){
    .container{
        flex-direction: column;
    }
    
    .redes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
    }
    .redes img{
        margin: 0.2em;
    }
    } */