<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/images/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            
                <a href=""><img src="../../../assets/images/InstagramLogo.png" id="instagram"></a>
                <a href=""><img src="../../../assets/images/GitLogo.png" id= "github"></a>
                <a href=""><img src="../../../assets/images/FacebookLogo.png" id="facebook"></a>
                <a href=""><img src="../../../assets/images/LinkdeinLogo.png" id="linkedin"></a>
                <button type="button" class="btn btn-outline-ligth" (click)="login()"    id="btnLogin">Ingresar</button>
        </div>
    </div>
</div>

