
<nav class="navbar navbar-expand-lg navbar-dark py-0 px-0">
    <div class="barra w-100 d-flex justify-content-center flex-wrap" >

        <div class="logo d-flex justify-content-center col-sm-3 flex-wrap">
            <img src="../../../assets/images/APLogo.png" id="logoAP">
        </div>
        <!-- <div class="redes d-flex justify-content-center flex-wrap">
            <ul class="navbar-nav me-auto- mb-2 mb-lg-0 d-flex flex-row
                flex-wrap justify-content-around ">
                <li><a href="https://www.instagram.com/nicolasonores/"><img
                            src="../../../assets/images/InstagramLogo.png"
                            id="instagram"></a></li>
                <li><a href="https://github.com/djsnikeex"><img
                            src="../../../assets/images/GitHub.png" id="github"></a></li>
                <li><a href="https://www.facebook.com/DjsNikeex/"><img
                            src="../../../assets/images/FacebookLogo.png"
                            id="facebook"></a></li>
                <li><a
                        href="https://www.linkedin.com/in/adri%C3%A1n-nicol%C3%A1s-onores/"><img
                            src="../../../assets/images/LinkdeinLogo.png"
                            id="linkedin"></a></li>

            </ul>
        </div> -->
        <div class="container py-0 px-0  mx-0 d-flex teal borderYtoX flex-wrap justify-content-center col-sm-7">
            <a routerLink="">HOME</a>
            <a routerLink="/educacion">EDUCACION</a>
            <a routerLink="/experiencia">EXPERIENCIAS</a>
            <a routerLink="/skill">SKILLS</a>
            <a routerLink="/proyecto">PROYECTOS</a>
            
        </div>
        <div class="d-flex mb-2 mb-lg-0 d-flex  col-sm-2 justify-content-end 
            ">
            <button type="button" class="btn borderYtoX " (click)="login()"
                *ngIf="!isLogged"
                id="btnLogin"><img src="../../../assets/images/usuario.png"
                    id="usuario"></button>
            <button type="button" class="btn d-flex flex-wrap "(click)="onLogout()"
                *ngIf="isLogged"
                id="btnLogout"><img src="../../../assets/images/logout.png"></button>
        </div>

    </div>
</nav>