<div class="container rounded my-2">
    <div class="row">
        <h1 class="text-center">Educacion</h1>

        <button type="button" class="btn btn-warning w-100 my-2"
            routerLink="/nuevaedu"
            *ngIf="isLogged">
            Agregar educacion

        </button>
        <div class="col-lg-1">
        </div>
        <div class="card bg-secondary mb-3 border border-2 " *ngFor="let edu
            of
            educacion">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="{{edu.logoE}}"
                        class="img-fluid rounded-start h-100"
                        alt="image-example" id="imagen-data">
                </div>
                <div class="col-md-7 ">
                    <div class="card-body ">
                        <dl class="card-list text-center d-flex flex-column
                            align-items-center justify-content-center">
                            <dt><h3>{{edu.nombreE}}</h3></dt><dd></dd>
                            <dt><h6>Descripcion: </h6></dt><dd><h5>{{edu.descripcionE}}</h5></dd>
                            <dt><h6>Titulo:</h6></dt><dd><h5>{{edu.tituloE}}</h5></dd>
                            <dt><h6>Estado de cursado: </h6></dt><dd><h5>{{edu.estadoE}}</h5></dd>
                            <dt><h6>Periodo de actividad: </h6></dt><dd><h5>{{edu.periodoE}}</h5></dd>
                        </dl>
                        <div class="d-flex flex-row justify-content-around">
                            <td *ngIf="isLogged">
                                <button class="btn btn-warning"
                                    routerLink="editedu/{{edu.id}}"><i
                                        class="bi bi-pencil-square"></i></button>
                            </td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-danger"
                                    (click)="delete(edu.id)"><i class="bi
                                        bi-x-octagon"></i></button>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>