
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Rajdhani:wght@500;600&family=Sanchez&display=swap');

.row{
    padding:20px;

}


h2{
    display:inline;
    
}
h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    font-family: 'IM Fell DW Pica SC', serif;
}

h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;  
}
.container-fluid{
    -webkit-box-shadow: inset 0px 26px 54px 81px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 26px 54px 81px rgba(0,0,0,0.75);
    box-shadow: inset 0px 26px 54px 81px rgba(0,0,0,0.75);
    height: 100vh;
}

img{
    height: 12rem;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}



li{
    list-style: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: 'Sanchez', sans-serif;
}

.card{
    background-image: none;
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 0 auto;
    display: block;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    
}

.card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}
