<div class="row">
    <h1>Educacion</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-warning" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar educacion

        </button>
    </div>
    <div class="col-lg-1">
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th></th>
                    <th></th>
                </tr>
            <tbody>
                <tr *ngFor="let edu of educacion">
                    <td><h2>{{edu.nombreE}}</h2></td>
                    <td>{{edu.descripcionE}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-warning" routerLink="/editedu/{{edu.id}}"><i class="bi bi-pencil-square"></i> EDITAR</button></td>
                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(edu.id)"><i class="bi bi-x-octagon"></i> ELIMINAR</button></td>
                </tr>
            </tbody>
        </table>
</div>