<div class="container vh-100 d-flex flex-column justify-content-center align-items-between">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group my-2">
                    <label for="nombreE">Nombre Instituto</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group py-4">
                    <label for="descripcionE">Descripcion de estudios</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <button class="btn btn-warning w-100">
                    Agregar educacion
                </button>
            </form>
        </div>
    </div>
</div>