<div class="row">
<h1>Experencia laboral</h1>
<div class=col-lg-1></div>
<div class=col-lg-11>
    <ul>
        <li>
            <h2>FullStack Developer Jr</h2>

            <p>Fecha: 2019 - 2020</p>
            <p>Descripción: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque vero esse aspernatur commodi vel nihil maxime accusantium! Saepe quidem quis, eum fugit quia error reiciendis iure neque temporibus veniam. </p>
        </li>
    </ul>
    <ul>
        <li>
            <h2>Trabajo 2</h2>
            
            <p>Fecha: 2019 - 2020</p>
            <p>Descripción: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque vero esse aspernatur commodi vel nihil maxime accusantium! Saepe quidem quis, eum fugit quia error reiciendis iure neque temporibus veniam. </p>
        </li>
    </ul>
    <ul>
        <li>
            <h2>Trabajo 3</h2>
            <p>Fecha: 2019 - 2020</p>
            <p>Descripción: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque vero esse aspernatur commodi vel nihil maxime accusantium! Saepe quidem quis, eum fugit quia error reiciendis iure neque temporibus veniam. </p>
        </li>
    </ul>
</div>
</div>