<app-header></app-header>
<div class="container-fluid rounded my-0 h-100" >
    <div class="row">
        <h1 class="text-center">Habilidades</h1>
        <button type="button" class="btn btn-warning w-100"
            routerLink="/newskill"
            *ngIf="isLogged"> Agregar Skill</button>

        <div class="row">
            <div class="text-center s col-sm-12 col-md-6 col-lg-4 d-flex
                flex-column flex-wrap my-2"
                *ngFor="let skill of
                skill">
                <circle-progress
                    [percent]="(skill.porcentaje)"
                    [radius]="120"
                    [outerStrokeWidth]="12"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#000000'"
                    [imageSrc]="(skill.img)"
                    [responsive]="true"
                    [showTitle]="true"
                    [title]="(skill.nombre)"
                    [imageWidth]="150"
                    [imageHeight]="130"
                    [showImage]="true"
                    [showUnits]="true"
                    [backgroundColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="300"

                    >
                </circle-progress>
                <div class="d-flex justify-content-center my-2">
                    <td *ngIf="isLogged">
                        <button class="btn btn-warning"
                            routerLink="editskill/{{skill.id}}"><i
                                class="bi bi-pencil-square"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger"
                            (click)="delete(skill.id)"><i
                                class="bi bi-x-octagon"></i></button>
                    </td>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>